[class$="Data"]{
    font-size: 12px;
    padding: 0 0 0 10px;
    color: #ffffff;
}

[class$="SVG"]{
    max-width: 15px !important;
    max-height: 15px !important;
    overflow: hidden;
}

.bullet{
    max-width: 6px !important;
    max-height: 6px !important;
    overflow: hidden;
}e

body{
    min-width: 21cm;
    min-height: 29.7cm;
    max-width: 21cm;
    max-height: 29.7cm;
    margin: 0;
    font-family: Ubuntu;
}

.introductSVG{
    transform: scaleX(0.46875) scaleY(0.468503937);
    fill: #ffffff;
}

.educationSVG, 
.personalProjectSVG{
    fill: #479099;
    transform: scaleX(0.6) scaleY(0.6); 
}

svg{
    max-width: 15px !important;
    max-height: 15px !important;
}

.details > .leftSection > div:nth-child(n) > .header, 
.details > .rightSection > div:nth-child(n) > .header, 
.details > .leftSection > .workExperience > .details > [class^="number"] > 
.date, 
.details > .leftSection > .education > .details > [class^="number"] > .year, 
.details > .rightSection > .languages > .details > [class^="number"] > .details, 
.details > .rightSection > .references > .details > [class^="number"] > 
.contact > .header{
    color: #479099;
}

.details > .rightSection > .references > .details > [class^="number"] > 
.contact{
    display: flex;
    flex-direction: row;
}

.outest{
    background: url("../images/background-image.svg") no-repeat;
    background-size: 100%;
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
}

.introducingSelf{
    padding: 33px 0 0 0;
    margin: 0 0 15px 0;
    min-width: 100%;
}

.secondSection > div:nth-child(odd){
    min-width: 50%;
    padding: 0 52.5px 0 0;
    margin: 15px 0 0 0;
    display: flex;
    flex-direction: row;
}

.secondSection > div:nth-child(even){
    max-width: 50%;
    padding: 0;
    margin: 15px 0 0 0;
    display: flex;
    flex-direction: row;
    margin-left: 24px;
}

.introducingSelf > .firstSection{
    padding: 0 37.5px 0 37.5px;
    margin: 0 0 26.25px;
    display: flex;
    flex-direction: row;
}

.introducingSelf > .firstSection > .picture{
    background: url("../images/ohm_resized.jpg") no-repeat;
    position: relative;
    width: 120px !important;
    height: 120px !important;
    border-radius: 50%;
    background-size: 100% 100%;
}

.introducingSelf > .firstSection > .header{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 25.5px;
}

.introducingSelf > .firstSection > .header > .name{
    font-size: 34.5px;
}


.introducingSelf > .firstSection > .header > .aboutMyself{
    font-size: 18px;
    color: #479099;
    padding: 4.5px 0 0 0;
}

.introducingSelf > .secondSection{
    padding: 0 37.5px 12px 37.5px;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.introducingSelf > .secondSection, 
.rightSection > .programmingLanguages > .details > [class^="number"] > .details{
    background-color: #479099;
}

.rightSection > .programmingLanguages > .details > [class^="number"] > .details{
    display: inline;
    padding: 4.5px 10.5px 4.5px 10.5px;
    border-radius: 4.5px;
    color: #ffffff;
}

.rightSection > .programmingLanguages > .details > [class^="number"] > .details, 
.rightSection > .languages > .details > [class^="number"] > .header{
    font-size: 13.5px;
}


.outest > .details{
    display: flex;
    flex-direction: row;
}

.details > .leftSection > .personalProject > .details{
    display: flex;
    flex-direction: column;
} 

.details > .leftSection{
    min-width: 50%;
    max-width: 50%;
}

.details > .rightSection{
    min-width: 50%;
    max-width: 50%;
    padding-left: 80px;
}

.details > .leftSection > div:nth-child(n), 
.details > .rightSection > div:nth-child(n){
    margin: 0 0 25.5px 0;
}

.details > .leftSection > div:nth-child(n) > .header, 
.details > .rightSection > div:nth-child(n) > .header{
    font-weight: 700;
    margin: 0 0 10.5px 0;
    padding: 0 27px 0 37.5px;
    font-size: 21px;
}

.details > .rightSection > .languages > .details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.details > .rightSection > .languages > .details > [class^="number"]{
    min-width: 50%;
    margin: 0 0 10.5px 0;
}

.details > .leftSection > .workExperience > .details > [class^="number"], 
.details > .leftSection > .education > .details > [class^="number"]{
    min-width: 100%;
}

.details > .leftSection > .workExperience > .details > [class^="number"] > div, 
.details > .leftSection > .education > .details > [class^="number"] > div{
    font-size: 18px;
}
 
.details > .leftSection > div:nth-child(n) > .details > [class^="number"] > div{
    padding: 0 27px 0 37.5px;
}

.rightSection > div:nth-child(n) > .details{
    margin: 0 0 0 37.5px;
}

.rightSection > .interest > .details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rightSection > .interest > .details > [class^="number"]{
    border-color: #7c7c7c;
    border-style: solid;
    width: fit-content;
    border-radius: 4.5px;
    border-width: 1.5px;
    padding: 6px;
    margin: 0 10px 0 0;
}

.rightSection > .interest > .details > [class^="number"] > .details{
    font-size: 13.5px;
}

.rightSection > .programmingLanguages > .details{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.rightSection > .programmingLanguages > .details > div:nth-child(n){
    margin: 0 10px 20px 0;
}

.details > .leftSection > .workExperience > .details > [class^="number"] > 
div:nth-child(1), 
.details > .leftSection > .education > .details > [class^="number"] > 
div:nth-child(1){
    font-weight: 700;
    margin: 0 0 1.5px 0;
}

.details > .leftSection > .workExperience > .details > [class^="number"] > 
div:nth-child(n+2), 
.details > .leftSection > .education > .details > [class^="number"] > 
div:nth-child(n+2), 
.details > .leftSection > .achivement > .details > [class^="number"] > 
div:nth-child(n+2){
    margin: 0 0 6px 0;
}

.details > .leftSection > .workExperience > .details > [class^="number"] > 
.date, 
.details > .leftSection > .education > .details > [class^="number"] > .year, 
.details > .leftSection > .achivement > .details > [class^="number"] > 
.year, 
.details > .leftSection > .achivement > .details > [class^="number"] > 
.description, 
.details > .leftSection > .workExperience > .details > [class^="number"] > 
.coporationType, 
.details > .leftSection > .education > .details > 
[class^="number"] > .seniorProject, 
.details > .rightSection > .languages > .details > [class^="number"] > 
.details, 
.rightSection > .references > .details > [class^="number"] > .description, 
.rightSection > .references > .details > [class^="number"] > .contact > 
.header, 
.details > .rightSection > .references > .details > [class^="number"] > 
.contact > .details{
    font-size: 12px;
    font-style: italic;
}

.details > .rightSection > .references > .details > [class^="number"] > 
.contact > .header{
    padding: 0 4.5px 0 0;
}

.details > .rightSection > .references > .details > [class^="number"]{
    margin: 0 0 16.5px 0;
}

.details > .leftSection > .achivement > .details > [class^="number"] > 
.description{
    color: #7c7c7c;
}

.details > .leftSection > .workExperience > .details > [class^="number"] > 
.date, 
.details > .leftSection > .education > .details > [class^="number"] > .year{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details > .leftSection > .workExperience > .details > [class^="number"] > 
.coporationType, 
.details > .leftSection > .education > .details > 
[class^="number"] > .seniorProject{
    padding: 0 0px 0 37.5px;
}

.details > .leftSection > .workExperience > .details > [class^="number"] > 
.coporationType{
    color: #7c7c7c;
}

.details > .leftSection > .education > .details > [class^="number"] > 
.seniorProject{
    color: #479099;
}

.details > .leftSection > .education > .details > [class^="number"] > 
.seniorProject > .details > [class^="number"], 
.details > .leftSection > .personalProject > .details > [class^="number"] > 
[class^="number"]{
    display: flex;
    flex-direction: row;
}

.details > .leftSection > .education > .details > [class^="number"] > 
.seniorProject > .details > [class^="number"] > .details{
    padding: 0 0 0 8px;
    color: #000000;
    font-style: normal;
}

.details > .leftSection > .education > .details > [class^="number"] > 
.seniorProject > .header, 
.details > .leftSection > .personalProject > .details > [class^="number"] > 
.name, 
.details > .leftSection > .achivement > .details > [class^="number"] > 
.name{
    margin: 0 0 3px 0;
}

.details > .leftSection > .personalProject > .details > [class^="number"] > 
.name, 
.details > .leftSection > .achivement > .details > [class^="number"] > 
.name, 
.rightSection > .references > .details > [class^="number"] > .name{
    font-size: 15px;
}

.rightSection > .references > .details > [class^="number"] > .contact > .header::after{
    content: ":";
}

.rightSection > .references > .details > [class^="number"] > div{
    margin: 0 0 4.5px 0;
}

.rightSection > .references > .details > [class^="number"] > .description::before{
    content: "\"";
}

.rightSection > .references > .details > [class^="number"] > .description::after{
    content: "\"";
}

.details > .leftSection > .personalProject > .details > [class^="number"]{
    padding: 0 0 12px 0;
    margin: 0 0 12px 0;
}

.details > .leftSection > .personalProject > .details > [class^="number"] > 
[class^="number"] > .details{
    font-size: 12px;
    padding: 0 0 0 8px;
}

.details > .leftSection > .workExperience > .details > .header, 
.details > .leftSection > .education > .details > .header{
    height: 2px;
    width: 18px;
    background-color: #479099;
    margin-top: 10px;
    position: absolute;
}

