[class$="Data"]{
    font-size: 12px;
    padding: 0 0 0 10px;
    color: #ffffff;
}

[class$="SVG"]{
    max-width: 15px !important;
    max-height: 15px !important;
    overflow: hidden;
}

body{
    min-width: 21cm;
    min-height: 29.7cm;
    margin: auto;
    font-family: Ubuntu;
}

g{
    transform: scaleX(0.46875) scaleY(0.468503937);
    fill: #ffffff;
}

svg{
    max-width: 15px !important;
    max-height: 15px !important;
}

.outest{
    background: url("../images/background-image.svg") no-repeat;
    background-size: 100%;
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
}

.introducingSelf{
    padding: 33px 0 0 0;
    margin: 0 0 15px 0;
}

.secondSection > div:nth-child(odd){
    min-width: 50%;
    padding: 0 52.5px 0 0;
    margin: 15px 0 0 0;
    display: flex;
    flex-direction: row;
}

.secondSection > div:nth-child(even){
    max-width: 50%;
    padding: 0;
    margin: 15px 0 0 0;
    display: flex;
    flex-direction: row;
    margin-left: 24px;
}

.introducingSelf > .firstSection{
    padding: 0 37.5px 0 37.5px;
    margin: 0 0 26.25px;
    display: flex;
    flex-direction: row;
}

.introducingSelf > .firstSection > .picture{
    background: url("../images/ohm_resized.jpg") no-repeat;
    position: relative;
    width: 120px !important;
    height: 120px !important;
    border-radius: 50%;
    background-size: 100% 100%;
}

.introducingSelf > .firstSection > .header{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 25.5px;
}

.introducingSelf > .firstSection > .header > .name{
    font-size: 34.5px;
}


.introducingSelf > .firstSection > .header > .aboutMyself{
    font-size: 18px;
    color: #479099;
    padding: 4.5px 0 0 0;
}

.introducingSelf > .secondSection{
    padding: 0 37.5px 12px 37.5px;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #479099;
}

.details{
    display: flex;
    flex-direction: row;
}

.details > .leftSection{
    min-width: 50%;
}

.details > .rightSection{
    min-width: 50%;
}

.details > .leftSection > div:nth-child(n){
    margin: 0 0 25.5px 0;
}

.details > .leftSection > .workExperience > .header, 
.details > .leftSection > .education > .header{
    font-weight: 700;
    color: #479099;
    margin: 0 0 10.5px 0;
    padding: 0 27px 0 37.5px;
    font-size: 21px;
}

.details > .leftSection > .workExperience > .details > [class^="number"], 
.details > .leftSection > .education > .details > [class^="number"]{
    min-width: 100%;
}

.details > .leftSection > .workExperience > .details > [class^="number"] > div, 
.details > .leftSection > .education > .details > [class^="number"] > div{
    padding: 0 27px 0 37.5px;
    font-size: 18px;
}

.details > .leftSection > .workExperience > .details > [class^="number"] > div:nth-child(1), 
.details > .leftSection > .education > .details > [class^="number"] > div:nth-child(1){
    font-weight: 700;
    margin: 0 0 1.5px 0;
}

.details > .leftSection > .workExperience > .details > [class^="number"] > div:nth-child(n+2), 
.details > .leftSection > .education > .details > [class^="number"] > div:nth-child(n+2){
    margin: 0 0 6px 0;
}

.details > .leftSection > .workExperience > .details > [class^="number"] > .date, 
.details > .leftSection > .education > .details > [class^="number"] > .year{
    font-size: 12px;
    padding: 0 0px 0 37.5px;
    color: #479099;
    font-style: italic;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details > .leftSection > .workExperience > .details > [class^="number"] > .coporationType, 
.details > .leftSection > .education > .details > [class^="number"] > .details{
    font-size: 12px;
    padding: 0 0px 0 37.5px;
    font-style: italic;
    color: #7c7c7c;
}

.details > .leftSection > .education > .details > [class^="number"] > .details{
    color: #479099;
}

.details > .leftSection > .workExperience > .details > .header, 
.details > .leftSection > .education > .details > .header{
    height: 2px;
    width: 18px;
    background-color: #479099;
    margin-top: 10px;
    position: absolute;
}

